/*

  Variables
  +

*/

// Colours

$color-primary: DarkSlateBlue;

//Black
$black: #000;
$deep-black: #1e2021;
$dark-black: #2a2d2e;
$darker-black: #111;
$medium-black: #1d1d1d;
$soft-black: #555;
$softest-black: #444;

//gray
$darker-gray: #272727;
$medium-gray: #333;
$harder-gray: #777;
$hard-gray: #888;
$dark-grayish: #4c5051;
$very-dark-gray: #383c3d;
$gray-two: #999;
$soft-gray: #bbb;
$med-gray: #e5e5e5;
$mid-gray: #666;
$lighest-gray: #f1f1f1;
$light-gray: #f4f4f4;
$light-gray-two: #f4f4f4;
$very-lighter-gray: #f2f2f2;
$very-light-gray: #eee;
$super-light-gray: #e2e2e2;
$light-gray: #ddd;
$lighty-gray: #ccc;
$normgray: #777;
$gray: #aaa;

$greenish-gray: #869791;
//White
$white: #fff;

//Yellow
$soft-yellow: #fff486;



//Pink
$pink: #e93ead;

//Brand Colours

//Twiiter
$tw-blue: #00acee;

//Facebook
$fb-blue: #3b5999;

//Pinterest
$pin-red: #ca2128;

//Linkedin
$link-blue: #0077b5;

// Base

$base-line-height: 1.7;

//Google font
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700&display=swap);


//Fonts
$fonts: 'Titillium Web', sans-serif;
$fa-brands: "Font Awesome 5 Brands";
$fa-free: "Font Awesome 5 Free";

// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

//Text Transform
$text-cap: capitalize; 
$text-lower: lowercase;
$text-upper: uppercase;
$text-none: none;